<mat-card class="carte-pokemon">
  <mat-card-header class="pokemon-content">
    <mat-card-title>{{ myPokemon.name }}</mat-card-title>
    <mat-card-subtitle>#{{ myPokemon.id }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="pokemon-content ">
    <div class="flex flex-col">
      <li class="flex justify-center">
        <a routerLink ="{{ 'pokemon/' + myPokemon.name.toLowerCase() }}">
          <img src='{{ myPokemon.sprites.front_default}}'>
        </a>
      </li>
      <li>
      <div class="types-pokemon flex flex-wrap mb-2">
        <ng-container *ngFor="let type of myPokemon.types;">
          <div class="type-pokemon rounded" [ngStyle]="{'background-color': type.type.color}">{{ type.type.name }}</div>
        </ng-container>
      </div>
      </li>
    </div>
  </mat-card-content>
</mat-card>
