.pokemon-content{
  padding: 0px;
  text-align: center;
  display: block;
  list-style-type: none;
}

.cartes-pokemon {
  background-color:white;
}

.carte-pokemon {
  max-width: 200px;
  min-width: 200px;
  margin-bottom: 10px;
}

.types-pokemon{
  display: flex;
  justify-content: center;
}

.type-pokemon {
  display: flex;
  justify-content: center;
  min-width: 70px;
  max-width: 70px;
  margin: 0px 5px;
}

::ng-deep .mat-mdc-chip-set .mdc-evolution-chip-set__chips{
  display: block;
}
