<div class="cartes-pokemon">
  <div class="pagination-cartes flex flex-row">
    <mat-paginator [length]="paginatorData.length"
                  [pageSize]="paginatorData.pageSize"
                  [pageSizeOptions]="[10, 20, 100]"
                  [pageIndex]="paginatorData.pageIndex"
                  (page)="onChangePaginatorPokemons($event)"
                  aria-label="Select page"
                  class="paginator-pokemon">
    </mat-paginator>
    <div class="pagination-select">
      <div class="choix-page-select">Page : </div>
      <mat-form-field class="select-page-option">
        <mat-select [(ngModel)]="goTo" (selectionChange)="goToChange($event)">
          <mat-option *ngFor="let pageNumber of pageNumbers" [value]="pageNumber">{{pageNumber}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="grid grid-cols-4">
    <div *ngFor="let myPokemon of myPokemons;" fxLayoutAlign="center none">
      <mat-card class="carte-pokemon">
        <mat-card-header class="pokemon-content">
          <mat-card-title>{{ myPokemon.name }}</mat-card-title>
          <mat-card-subtitle>#{{ myPokemon.id }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="pokemon-content ">
          <div class="flex flex-col">
            <li class="flex justify-center">
              <a routerLink ="{{ 'pokemon/' + myPokemon.name.toLowerCase() }}">
                <img src='{{ myPokemon.picturesUrl?.front_default}}'>
              </a>
            </li>
            <li>
            <div class="types-pokemon">
              <ng-container *ngFor ="let type of myPokemon.types;">
                <div class="type-pokemon rounded" [ngStyle]="{'background-color': type.color}">{{ type.name }}</div>
              </ng-container>
            </div>
            </li>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="d-flex pagination-cartes">
    <mat-paginator [length]="paginatorData.length"
                  [pageSize]="paginatorData.pageSize"
                  [pageSizeOptions]="[10, 20, 100]"
                  [pageIndex]="paginatorData.pageIndex"
                  (page)="onChangePaginatorPokemons($event)"
                  aria-label="Select page"
                  class="paginator-pokemon">
    </mat-paginator>
    <div class="pagination-select">
      <div class="choix-page-select">Page : </div>
      <mat-form-field>
        <mat-select [(ngModel)]="goTo" (selectionChange)="goToChange($event)">
          <mat-option *ngFor="let pageNumber of pageNumbers" [value]="pageNumber">{{pageNumber}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
