.pokemon-card {
  max-width: 200px;
  min-width: 200px;
  margin-bottom: 10px;
}

.header-image{
  background-size: cover;
}

.pokemon-content{
  padding: 0px;
  text-align: center;
  display: block;
}

::ng-deep .mat-mdc-chip-set .mdc-evolution-chip-set__chips{
  display: block;
}

.paginator-pokemon{
  margin-bottom: 10px;
}



