.header-image{
  background-size: cover;
}

.pokemon-content{
  padding: 0px;
  text-align: center;
  display: block;
  list-style-type: none;
}

::ng-deep .mat-mdc-chip-set .mdc-evolution-chip-set__chips{
  display: block;
}

.paginator-pokemon{
  margin-bottom: 10px;
}

.d-flex {
  display: flex;
}

.go-to-container {
  display: flex;
  align-items: baseline;
  background: white;
}

.go-to-label {
  margin: 0 4px;
  font-size: 12px;
  color: rgba(0,0,0,.54);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cartes-pokemon {
  background-color:white;
}

.carte-pokemon {
  max-width: 200px;
  min-width: 200px;
  margin-bottom: 10px;
}

.pagination-cartes {
  justify-content: flex-end;
}
