<div class="header-app">
  <mat-toolbar color="warn">
    <div fxShow="true" >
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <a mat-button class="companyName" routerLink="/">
      <span>Ma page Pokemon</span>
    </a>
    <span class="example-spacer"></span>
    <mat-form-field class="autocomplete-header" appearance="fill">
      <mat-label>Nom du pokemon</mat-label>
        <input
          type="text"
          matInput [formControl]="myControl"
          [matAutocomplete]="auto"
          class="input-autocomplete-header"
        >
          <mat-autocomplete
            #auto="matAutocomplete"
            [displayWith]="displayFn"
          >
            <ng-container *ngFor="let option of filteredOptions | async">
              <a routerLink ="{{ 'pokemons/pokemon/' + option.name.toLowerCase() }}">
                <mat-option [value]="option">
                  {{option.name}}
                </mat-option>
              </a>
          </ng-container>
          </mat-autocomplete>
    </mat-form-field>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink="/pokemons">Pokemons</a>
      <a mat-button routerLink="/berries">Berries</a>
    </div>

  </mat-toolbar>

  <mat-sidenav-container class="example-container">
    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false">
      <div fxLayout="column">
        <a mat-button routerLink="/pokemons">Pokemons</a>
        <a mat-button routerLink="/berries">Berries</a>
      </div>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>
