<div class="display-carte-pokemon">
  <mat-card class="carte-pokemon">
    <mat-card-header class="pokemon-name mt-4">
      <div class="label-id flex flex-col mb-8">
        <mat-card-title>{{ myFichePokemonData?.name }}</mat-card-title>
        <mat-card-subtitle>No. #{{ myFichePokemonData?.id }}</mat-card-subtitle>
      </div>
    </mat-card-header>
    <mat-card-content class="pokemon-content">
      <div class="description flex flex-row">
        <div class="col-left">
          <mat-card class="pictures-card-mat mb-4">
            <div class="title-card-picture ml-4">
              <mat-card-title>Formes</mat-card-title>
              <mat-card-subtitle>(Défaut / Shiney)</mat-card-subtitle>
            </div>
            <div class="pictures">
              <div class="default-picture">
                <img src='{{ myFichePokemonData?.picturesUrl?.front_default}}'>
              </div>
              <div class="shiney-picture">
                <img src='{{ myFichePokemonData?.picturesUrl?.front_shiny}}'>
              </div>
            </div>
          </mat-card>
          <div class="chart">
            <ng-container *ngIf="isStatsLoaded">
              <p-chart type="bar" [data]="statsPokemon" [options]="chartOptions"></p-chart>
            </ng-container>
          </div>
        </div>
        <div class="col-right">
          <div class="descriptions-pokemon">
            <div class="my-4">{{ descriptionPokemon }}</div>
            <div class="boutons-version flex flex-row">
              <div>Versions :</div>
              <div class="bouton-gauche">
                <button mat-icon-button matTooltip="Basic" (click)="setDescriptionPokemon(this.pokemonSpeciesData!.flavor_text_entries[0])">
                  <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="red" d="M12 2a10 10 0 0 1 10 10a10 10 0 0 1-10 10A10 10 0 0 1 2 12A10 10 0 0 1 12 2m0 2c-4.08 0-7.45 3.05-7.94 7h4.07c.44-1.73 2.01-3 3.87-3c1.86 0 3.43 1.27 3.87 3h4.07c-.49-3.95-3.86-7-7.94-7m0 16c4.08 0 7.45-3.05 7.94-7h-4.07c-.44 1.73-2.01 3-3.87 3c-1.86 0-3.43-1.27-3.87-3H4.06c.49 3.95 3.86 7 7.94 7m0-10a2 2 0 0 0-2 2a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2Z"/></svg>
                </button>
              </div>
              <div class="bouton-droit">
                <button mat-icon-button matTooltip="Basic" (click)="setDescriptionPokemon(this.pokemonSpeciesData!.flavor_text_entries[2])">
                  <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="blue" d="M12 2a10 10 0 0 1 10 10a10 10 0 0 1-10 10A10 10 0 0 1 2 12A10 10 0 0 1 12 2m0 2c-4.08 0-7.45 3.05-7.94 7h4.07c.44-1.73 2.01-3 3.87-3c1.86 0 3.43 1.27 3.87 3h4.07c-.49-3.95-3.86-7-7.94-7m0 16c4.08 0 7.45-3.05 7.94-7h-4.07c-.44 1.73-2.01 3-3.87 3c-1.86 0-3.43-1.27-3.87-3H4.06c.49 3.95 3.86 7 7.94 7m0-10a2 2 0 0 0-2 2a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2Z"/></svg>
                </button>
              </div>
            </div>
          </div>
          <div class="morphologie-pokemon mb-4">
            <mat-card>
              <mat-card-content>
                <div class="flex flex-row">
                  <div class="col-left">
                    <ul>
                      <li>
                        <div class="color-text-morphologie">Height</div>
                        <div>{{ myFichePokemonData?.height! / 10}} m</div>
                      </li>
                      <li>
                        <div class="color-text-morphologie">Weight</div>
                        <div>{{myFichePokemonData?.weight! / 10}} kg</div>
                      </li>
                      <li>
                        <div class="color-text-morphologie">Habitat</div>
                        <div>{{ pokemonSpeciesData?.habitat?.name }}</div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-right">
                    <ul>
                      <li>
                        <div class="color-text-morphologie">Color</div>
                        <div>{{ pokemonSpeciesData?.color?.name }}</div>
                      </li>
                    </ul>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="section-types-pokemon">
            <div class="mb-4">
              <div class="type-title mb-2">Type</div>
              <div class="types-pokemon">
                <ng-container *ngFor="let type of myFichePokemonData?.types;">
                  <div class="type-pokemon rounded" [ngStyle]="{'background-color': type.color}">{{ type.name }}</div>
                </ng-container>
              </div>
            </div>
            <div class="faiblesses-pokemon mb-4">
              <div class="type-title mb-2">Faiblesse</div>
              <div class="types-pokemon">
                <ng-container *ngFor="let type of typesFaiblesses;">
                  <div class="type-pokemon rounded" [ngStyle]="{'background-color': type.color}">{{ type.name }}</div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="evolution-section">
        <mat-card>
          <mat-card-content>
            <div class="pokemonsEvolution">
              <div>

              </div>
              <div>

              </div>
              <div>

              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>
